    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - MedTrack</title>

    <!-- Bootstrap 5.3.8 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="~/css/geral.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/imagens/logo-escuro.svg" type="image/x-icon">
    </head>
    <body>
    <!-- Botão "Voltar ao Topo" -->
    <button id="btnTopo" title="Voltar ao topo">
    <i class="fa-solid fa-arrow-up"></i>
    </button>

    <!-- Barra de Navegação (Desktop) -->
    <nav class="navbar">
    <div class="logotipo">
    <img class="navbar-logo" src="~/imagens/logo-claro.svg" alt="LogoTipo da MedTrack">
    <p>MedTrack</p>
    </div>

    <!-- Links do menu principal -->
    <ul class="navbar-list">
    <li><a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a class="navbar-item" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
    <li><a class="navbar-item" asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
    </ul>

    <!-- Botões do menu -->
    <div class="navbar-btn">
    <a class="navbar-btn-item" asp-controller="Account" asp-action="Login">Login</a>
    <a class="navbar-btn-item" asp-controller="Account" asp-action="Register">Cadastro</a>
    <a class="navbar-btn-item" asp-controller="Form" asp-action="Index">Formulário</a>

    <a href="#" id="dark-mode-toggle" class="navbar-btn-item">
    <i class="fa-solid fa-moon"></i>
    </a>

    <a class="navbar-btn-profile" asp-controller="Profile" asp-action="Index">
    <i class="fa-solid fa-user"></i>
    </a>

    <a class="nav-btn-items" href="#" id="nav-btn-toggle">
    <i class="fa-solid fa-bars"></i>
    </a>
    </div>
    </nav>

    <!-- Barra de Navegação Mobile -->
    <div class="navbar-mobile" id="nav-mobile">
    <ul class="nav-list-mobile">
    <li><a class="nav-items" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a class="nav-items" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
    <li><a class="nav-items" asp-controller="Account" asp-action="Login">Login</a></li>
    <li><a class="nav-items" asp-controller="Account" asp-action="Register">Cadastro</a></li>
    <li><a class="nav-items" asp-controller="Form" asp-action="Index">Formulário</a></li>
    </ul>
    </div>

    <!-- Conteúdo das Views -->
    <main role="main" class="container">
    @RenderBody()
    </main>

    <!-- Rodapé -->
    <footer class="footer">
    <div class="footer-social">
    <a class="footer-social-link" href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a class="footer-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
    <a class="footer-social-link" href="#"><i class="fa-brands fa-youtube"></i></a>
    <a class="footer-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

    <ul class="footer-menu">
    <li class="footer-item"><a class="footer-link" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Home" asp-action="Sobre">Sobre</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Account" asp-action="Login">Login</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Account" asp-action="Register">Cadastro</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Form" asp-action="Index">Formulário</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Profile" asp-action="Index">Perfil</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Profile" asp-action="Index">Perfis</a></li>
    <li class="footer-item"><a class="footer-link" asp-controller="Error" asp-action="Index">Erro</a></li>
    </ul>
    </footer>

    <div class="copyright">
    <p class="text-copyright">
    © 2025 MedTrack — Saúde digital com inteligência. Todos os direitos reservados.
    </p>
    </div>

    <!-- VLIBRAS -->
    <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
    </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/navbar-mobile.js"></script>
    <script src="~/js/modo-escuro.js"></script>
    <script src="~/js/voltar-topo.js"></script>

    <!-- Importa VLIBRAS -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    </body>
    </html>
