@{
ViewData["Title"] = "Home Page";
}

@section Styles {
<link rel="stylesheet" href="~/css/home.css" />
}

<!-- Botão "Voltar ao Topo" -->
<button id="btnTopo" title="Voltar ao topo">
<i class="fa-solid fa-arrow-up"></i>
</button>


<!-- Seção do Cabeçalho -->
<div class="div-header">
<section class="section-header">
<!-- Título Principal -->
<h1 class="title-header">Sua Vida Organizada para <span>Emergências</span></h1>

<!-- Texto de Apresentação -->
<p class="text-header">
Em momentos críticos, cada segundo conta. Nossa planilha de
emergência foi criada para reunir todas
as informações essenciais de forma clara e acessível,
ajudando você e seus entes queridos a agirem rápido quando mais importa.
Com campos personalizados para contatos, histórico médico, alergias e orientações,
garantimos que dados importantes estejam sempre à mão,
facilitando o atendimento e salvando vidas.
</p>

<!-- Indicadores de Impacto -->
<div class="header-info">
<section class="header-section-info">
<p class="header-number">700+</p>
<p class="header-info-text">Vidas salvas em emergências</p>
</section>

<section class="header-section-info">
<p class="header-number">3s</p>
<p class="header-info-text">Acesso rápido a dados essenciais</p>
</section>

<section class="header-section-info">
<p class="header-number">98%</p>
<p class="header-info-text">Taxa de sucesso em emergências</p>
</section>
</div>
</section>

<!-- Imagem ilustrativa do cabeçalho -->
<img class="image-header" src="../imagens/imagem-header-home.svg" alt="Imagem de um médico com uma prancheta">
</div>

<!-- Titulo da Seção de Destaques -->
<h2 class="title-card-info">Porque somos os melhores</h2>

<!-- Seção de Destaques (Benefícios) -->
<div class="content-info-destaque">

<!-- Card de Informaçoes -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-house-chimney-medical"></i>
</span>
<p class="title-info-destaque">Acesso Rápido</p>
<p class="text-info-destaque">
Nosso sistema fornece dados de emergência em tempo real,
garantindo agilidade e precisão quando cada segundo
importa.
</p>
</section>

<!-- Card de Informaçoes -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-laptop-medical"></i>
</span>
<p class="title-info-destaque">Tecnologia Segura e Confiável</p>
<p class="text-info-destaque">
Usamos plataformas seguras que protegem seus dados e garantem
total privacidade, para você confiar.
</p>
</section>

<!-- Card de Informaçoes -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-heart-pulse"></i>
</span>
<p class="title-info-destaque">Equipe Multidisciplinar</p>
<p class="text-info-destaque">
Profissionais experientes em saúde e tecnologia oferecem soluções
focadas no cuidado e na segurança do
paciente.
</p>
</section>

<!-- Card de Informaçoes -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-briefcase-medical"></i>
</span>
<p class="title-info-destaque">Emergências</p>
<p class="text-info-destaque">
Acesso rápido e seguro ao histórico médico para decisões ágeis em emergências.
</p>
</section>
</div>

<!-- Título da seção de depoimentos -->
<h2 class="title-card-testimonial">Testemunhos reais com nossa solução</h2>

<!-- Container que agrupa todos os testemunhos -->
<div class="content-testimonial">

<!-- Card de depoimento-->
<section class="card-testimonial">
<i class="card-quote-testimonial fa-solid fa-quote-left"></i>

<img class="card-image-testimonial" src="../imagens/imagem-testemunha-1.jpg" alt="Imagem de Renato Souza">

<hr class="team-divider-testimonial">

<p class="card-name-testimonial">Renato Souza</p>
<div class="testimonial-start">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
<p class="card-text-testimonial">
"Desde que começamos a usar a plataforma, percebemos uma melhora
significativa na comunicação com nossos pacientes."
</p>
</section>

<!-- Card de depoimento -->
<section class="card-testimonial">
<i class="card-quote-testimonial fa-solid fa-quote-left"></i>
<img class="card-image-testimonial" src="../imagens/imagem-testemunha-2.jpg" alt="Imagem de Camila Duarte">
<hr class="team-divider-testimonial">
<p class="card-name-testimonial">Camila Duarte</p>
<div class="testimonial-start">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
<p class="card-text-testimonial">
"A inovação dessa empresa transformou nosso dia a dia.
A agilidade no atendimento e o acesso a dados confiáveis
fizeram toda a diferença para mim."
</p>
</section>

<!-- Card de depoimento -->
<section class="card-testimonial">
<i class="card-quote-testimonial fa-solid fa-quote-left"></i>
<img class="card-image-testimonial" src="../imagens/imagem-testemunha-3.jpg" alt="Imagem de Lucas Almeida">
<hr class="team-divider-testimonial">
<p class="card-name-testimonial">Lucas Almeida</p>
<div class="testimonial-start">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
<p class="card-text-testimonial">
"Confio totalmente nas soluções que oferecem.
A tecnologia aplicada com responsabilidade nos dá mais segurança para cuidar
melhor de quem precisa de atenção e acolhimento."
</p>
</section>

<!-- Card de depoimento -->
<section class="card-testimonial">
<i class="card-quote-testimonial fa-solid fa-quote-left"></i>
<img class="card-image-testimonial" src="../imagens/imagem-testemunha-4.jpg" alt="Imagem de Juliana Alves">
<hr class="team-divider-testimonial">
<p class="card-name-testimonial">Juliana Alves</p>
<div class="testimonial-start">
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
<i class="fa-solid fa-star"></i>
</div>
<p class="card-text-testimonial">
"Em uma emergência com minha filha, o Med Track fez toda a diferença.
Em segundos, os médicos tinham acesso ao histórico médico dela. Rápido,
prático e seguro!"

</p>
</section>
</div>


<!-- SEÇÃO DO VLIBRAS-->
<div vw class="enabled">
<div vw-access-button class="active"></div>
<div vw-plugin-wrapper>
<div class="vw-plugin-top-wrapper"></div>
</div>
</div>