@{
ViewData["Title"] = "Pagina Sobre";
}

@section Styles {
<link rel="stylesheet" href="~/css/sobre.css" />
}

<!-- Botão "Voltar ao Topo" -->
<button id="btnTopo" title="Voltar ao topo">
<i class="fa-solid fa-arrow-up"></i>
</button>

<!-- Indicadores de Impacto e História da Empresa -->
<div class="div-header">
<section class="section-header">
<!-- Título da página -->
<h1 class="title-header">Sobre a empresa <span>Med Track</span></h1>
<!-- Texto descritivo sobre a empresa -->
<p class="text-header">
Somos uma empresa comprometida com a inovação na área da saúde digital.
Acreditamos que a tecnologia pode salvar vidas quando usada com propósito e
responsabilidade. Nossa missão é desenvolver soluções acessíveis, seguras e
eficientes que conectem pessoas e profissionais da saúde, promovendo bem-estar e
agilidade no cuidado. Com uma equipe multidisciplinar formada por desenvolvedores,
designers e especialistas em saúde, trabalhamos para transformar boas ideias em
ferramentas que realmente fazem a diferença no dia a dia das pessoas.

</p>

<!-- Indicadores de Impacto -->
<div class="header-info">
<section class="header-section-info">
<p class="header-number">2025</p>
<p class="header-info-text">Ano de fundação</p>
</section>

<section class="header-section-info">
<p class="header-number">30k+</p>
<p class="header-info-text">Pacientes e profissionais unidos</p>
</section>

<section class="header-section-info">
<p class="header-number">10k+</p>
<p class="header-info-text">Pacientes conectados ao cuidado</p>
</section>
</div>
</section>

<!-- Imagem ilustrativa do cabeçalho -->
<img class="image-header" src="../imagens/imagem-header-sobre.svg" alt="Imagem de um médico em telechamada">
</div>

<!-- Subtítulo da seção de diretrizes -->
<h2 class="title-card-info">Diretrizes da nossa atuação</h2>

<!-- Container de cards com visão, missão e valores -->
<div class="content-info-destaque">
<!-- Card Visão -->
<section class="card-info-destaque">
<!-- Ícone representativo -->
<span class="icon-info-destaque">
<i class="fa-solid fa-chart-simple"></i>
</span>
<p class="title-info-destaque">Visão</p>
<p class="text-info-destaque">
Ser referência em tecnologia para a saúde digital,
contribuindo para um futuro onde a informação salva vidas e
o cuidado ultrapassa barreiras físicas.
</p>
</section>

<!-- Card Missão -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-check"></i>
</span>
<p class="title-info-destaque">Missão</p>
<p class="text-info-destaque">
Desenvolver ferramentas inovadoras que conectem pessoas e
profissionais da saúde,
promovendo um atendimento mais ágil, humanizado e baseado
em informações confiáveis.
</p>
</section>

<!-- Card Valores -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-bars"></i>
</span>
<p class="title-info-destaque">Valores</p>
<p class="text-info-destaque">
Nossos valores são baseados no cuidado com a vida, na inovação com propósito,
na proteção dos dados,
na acessibilidade para todos e na colaboração entre pessoas e equipes.
</p>
</section>

<!-- Card Valores -->
<section class="card-info-destaque">
<span class="icon-info-destaque">
<i class="fa-solid fa-lock"></i>
</span>
<p class="title-info-destaque">Privacidade</p>
<p class="text-info-destaque">
Nossa prioridade é a privacidade. Mantemos os dados protegidos,
garantindo transparência, confiança, segurança e integridade.
</p>
</section>
</div>

<!-- Título da seção sobre a equipe -->
<h2 class="title-card-team">Sobre os Desenvolvedores</h2>

<!-- Container de cards dos desenvolvedores (primeira linha) -->
<div class="content-team">

<!-- Cards dos desenvolvedores -->
<section class="card-team">

<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-nicolas.png" alt="Imagem de Nicolas Alves">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">Nicolas Alves</p>
<!-- Cargo ou função -->
<p class="card-team-text">Programador Web</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>

<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-joao.png" alt="Imagem de João Gabriel Ferreira">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">João Gabriel Ferreira</p>
<!-- Cargo ou função -->
<p class="card-team-text">Modelador de Dados</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>

<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-jose.png" alt="Imagem de José Henrique Bessa">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">José Henrique Bessa</p>
<!-- Cargo ou função -->
<p class="card-team-text">Designer de Interfaces</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>

<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-natalia.jpg" alt="Imagem de ">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">Nome Sobrenome</p>
<!-- Cargo ou função -->
<p class="card-team-text">Modelador de Dados</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>
</div>

<!-- Container de cards dos desenvolvedores (segunda linha) -->
<div class="content-team">
<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-sophia.png" alt="Imagem de Sophia Cavallaro">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">Sophia Cavallaro</p>
<!-- Cargo ou função -->
<p class="card-team-text">Programador Web</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>

<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-mariana.png" alt="Imagem de Mariana Lourenço">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">Mariana Lourenço</p>
<!-- Cargo ou função -->
<p class="card-team-text">Programador Web</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>

<!-- Cards dos desenvolvedores -->
<section class="card-team">
<!-- Capa colorida -->
<div class="card-team-cover"></div>
<!-- Foto do desenvolvedor -->
<img class="card-team-image" src="../imagens/dev-fernanda.jpg" alt="Imagem de ">
<!-- Linha divisória -->
<hr class="team-divider">
<!-- Nome do desenvolvedor -->
<p class="card-team-name">Nome Sobrenome</p>
<!-- Cargo ou função -->
<p class="card-team-text">Modelador de Dados</p>
<!-- Links para redes sociais -->
<div class="team-social-media">
<a class="team-social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
<a class="team-social-link" href="#"><i class="fa-brands fa-x-twitter"></i></a>
</div>
</section>
</div>

<h2 class="title-card-team">Perguntas Frequentes</h2>

<section class="section-faq">

<div class="wrap" id="conteudo">

<section class="faq" id="faq" aria-label="Perguntas Frequentes">

<article class="item">
<h2>
<button class="accordion-trigger" aria-expanded="false" aria-controls="resposta-1" id="pergunta-1">

<span class="question">O que é a Prancheta Médica Online?</span>
<span class="icon" aria-hidden="true">
<i class="fa-solid fa-plus plus"></i>
<i class="fa-solid fa-minus minus"></i>
</span>
</button>
</h2>

<div class="panel" id="resposta-1" role="region" aria-labelledby="pergunta-1">
<div class="panel-inner">
Descubra como a plataforma funciona, para que serve e como ela pode ajudar a salvar vidas em situações de emergência.

</div>
</div>
</article>

<article class="item">
<h2>
<button class="accordion-trigger" aria-expanded="false" aria-controls="resposta-2" id="pergunta-2">
<span class="question">Quais dados eu posso registrar na plataforma?</span>
<span class="icon" aria-hidden="true">
<i class="fa-solid fa-plus plus"></i>
<i class="fa-solid fa-minus minus"></i>
</span>
</button>
</h2>
<div class="panel" id="resposta-2" role="region" aria-labelledby="pergunta-2">
<div class="panel-inner">
Veja quais informações de saúde você pode armazenar — como pressão arterial, frequência cardíaca, alergias, medicamentos em uso e mais.
</div>
</div>
</article>

<article class="item">
<h2>
<button class="accordion-trigger" aria-expanded="false" aria-controls="resposta-3" id="pergunta-3">
<span class="question">Como meus dados são compartilhados em caso de emergência?</span>
<span class="icon" aria-hidden="true">
<i class="fa-solid fa-plus plus"></i>
<i class="fa-solid fa-minus minus"></i>
</span>
</button>
</h2>
<div class="panel" id="resposta-3" role="region" aria-labelledby="pergunta-3">
<div class="panel-inner">
Como meus dados são compartilhados em caso de emergência?
Entenda como o sistema identifica uma emergência e envia automaticamente suas informações médicas para o SAMU ou hospitais próximos.
</div>
</div>
</article>

<article class="item">
<h2>
<button class="accordion-trigger" aria-expanded="false" aria-controls="resposta-4" id="pergunta-4">
<span class="question">Meus dados estão seguros e protegidos?</span>
<span class="icon" aria-hidden="true">
<i class="fa-solid fa-plus plus"></i>
<i class="fa-solid fa-minus minus"></i>
</span>
</button>
</h2>
<div class="panel" id="resposta-4" role="region" aria-labelledby="pergunta-4">
<div class="panel-inner">
Saiba quais medidas de segurança e criptografia são utilizadas para garantir a privacidade das suas informações de saúde.
</div>
</div>
</article>

<article class="item">
<h2>
<button class="accordion-trigger" aria-expanded="false" aria-controls="resposta-5" id="pergunta-5">
<span class="question">Como posso cadastrar ou atualizar meus dados vitais?</span>
<span class="icon" aria-hidden="true">
<i class="fa-solid fa-plus plus"></i>
<i class="fa-solid fa-minus minus"></i>
</span>
</button>
</h2>
<div class="panel" id="resposta-5" role="region" aria-labelledby="pergunta-5">
<div class="panel-inner">
Aprenda o passo a passo para criar sua conta, preencher seu perfil médico e manter seus dados sempre atualizados.
</div>
</div>
</article>


</section>
</div>
</section>

<!-- SEÇÃO DO VLIBRAS-->
<div vw class="enabled">
<div vw-access-button class="active"></div>
<div vw-plugin-wrapper>
<div class="vw-plugin-top-wrapper"></div>
</div>
</div>

